<h2>Fees</h2>
<form action="/fees" method="post">
  The current membership fee is £<input type="text" name="fee" value="<%= @fee %>">

  <div style = "padding-top:10px">
    <input type="submit" value="Change fee" class="btn btn-info">
  </div>

</form>
