<h2>Members</h2>
<table class='table table-striped'>
  <tr>
    <th>Name</th>
    <th>Balance (£) </th>
  </tr>

  <% @members.each do |member| %>
    <tr>
      <td><%= member.name %> </td>
      <td class='<%= member.class_for_balance %>'><%= member.balance %></td>
    </tr>
  <% end %>
</table>
