<h2>Edit Multipliers</h2>

<form action="/multiplier" method="post">
  <table class = "table table-striped">
    <% Member.all.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><input type="text" class="<%= member.name.downcase + "_multiplier"%>" name="<%= member.name.downcase + "_multiplier"%>" value="<%= member.get_multiplier %>"></td>
      </tr>
    <% end %>
  </table>

  <input type="submit" value="Change multipliers" class="btn btn-info">

</form>
