<h2>Payments</h2>
<form action="/payments" method="post">
  <table class='table table-striped'>
    <tr>
      <th>Member</th>
      <th>Amount Paid</th>
      <th>Skip Payment</th>
    </tr>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><input type="text" name="payment[<%= member.id %>][amount]"></td>
        <td><input type="checkbox" name="payment[<%= member.id %>][skipped]"></td>
      </tr>
    <% end %>
  </table>
  <input type="submit" value="Add payments">
</form> 
