<h2>Total Expenses</h2>
<table class='table table-striped'>
  <tr>
    <th>Expenses</th>
    <th>Total Paid</th>
  </tr>

  <tr>
    <th><%= @total_expenses %></th>
    <th><%= @total_paid %></th>
  </tr>
</table>
