<h2>Members</h2>

<table class='table table-striped'>
  <tr>
    <th>Name</th>
    <th>Edit</th>
    <td>Delete</td>
  </tr>

  <% Member.all.each do |member| %>
    <tr>
      <td><%= member.name %> </td>
      <td><a class="btn btn-info" href="members/edit/<%= member.id %>">Edit</a></td>
      <td><a class="btn btn-danger" href="members/delete/<%= member.id %>">Delete</a></td>
    </tr>
  <% end %>
</table>

<form action="/members/new" method="get">
  <input class="btn btn-info" type="submit" value="Add new user">
</form>
